.nav {
    &__heading {
        margin: 10px;
        padding: 10px;
        font-size: 4rem;
        margin-right: auto;
    }

    &__burger {
        display: flex;

        @media only screen and (max-width: 501px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__difficulty {
        margin: auto 10px;
        font-size: 2.5rem;

        @media only screen and (max-width: 501px) {
            margin-top: 1rem;
            margin-bottom: -1rem;
        }
    }

    &__select_wrap {
        margin: auto 10px;
        font-size: 2rem;
        position: relative;
        user-select: none;

        ul {
            list-style: none;
        }

        .default_option {
            background-color: #000;
            color: #fff;
            border-radius: 10px;
            position: relative;
            cursor: pointer;

            li {
                height: 30px;
                width: 100px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 8px;
                right: 18px;
                width: 6px;
                height: 6px;
                border: 2px solid;
                border-color: transparent transparent #ffffff #ffffff;
                transform: rotate(-45deg);
            }
        }

        .select_ul {
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            display: none;
            opacity: 0;

            li {
                background: #000;
                color: #fff;
                cursor: pointer;
                padding: 5px 10px;

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &:first-child {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }

                &:hover {
                    background: rgba(0, 0, 0, 0.589);
                }
            }
        }
    }
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        margin-top: 3px;
        margin-left: 10px;
    }
}

.active {
    .default_option::before {
        top: 12px;
        transform: rotate(-225deg);
    }

    .select_ul {
        display: block;
        opacity: 1;
    }
}

.item {
    background-color: rgba(135, 207, 235, 0.521);
    border-radius: 5rem;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.22);
    border: 10px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    cursor: pointer;

    p {
        user-select: none;
    }
}

.hidden {
    display: none;
}

.correct {
    animation-name: right;
    animation-duration: .2s;
    animation-iteration-count: 5;
}

.incorrect {
    animation-name: wrong;
    animation-duration: .2s;
    animation-iteration-count: 5;
}

@keyframes right {
    0% {
        border: 10px solid rgba(0, 0, 0, 0.1);
    }

    50% {
        border: 10px solid rgba(0, 255, 22, 0.15);
    }

    100% {
        border: 10px solid rgba(0, 0, 0, 0.1);
    }
}

@keyframes wrong {
    0% {
        border: 10px solid rgba(0, 0, 0, 0.1);
    }

    50% {
        border: 10px solid rgba(255, 0, 0, 0.25);
    }

    100% {
        border: 10px solid rgba(0, 0, 0, 0.1);
    }
}

.font-sm {
    font-size: 5rem;
}
