.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    user-select: none;

    a {
        color: #000;

        &:hover {
            color: rgba(0, 0, 0, 0.589);
        }
    }
}

.content {
    display: grid;
}

.content-sm {
    grid-template-rows: repeat(2, minmax(10rem, 25rem));
    grid-template-columns: repeat(2, minmax(10rem, 25rem));
    grid-gap: 8rem;

    @media only screen and (max-width: 600px) {
        grid-template-rows: repeat(4, 20rem);
        grid-template-columns: 20rem;
        grid-gap: 2rem;
    }
}

.content-md {
    grid-template-rows: repeat(2, minmax(10rem, 20rem));
    grid-template-columns: repeat(4, minmax(10rem, 20rem));
    grid-gap: 4rem;

    @media only screen and (max-width: 950px) {
        grid-template-rows: repeat(4, minmax(12rem, 16rem));
        grid-template-columns: repeat(2, minmax(10rem, 18rem));
        grid-gap: 2rem;
    }
}

.content-lg {
    grid-template-rows: repeat(4, minmax(5rem, 15rem));
    grid-template-columns: repeat(4, minmax(5rem, 15rem));
    grid-gap: 2.5rem;

    @media only screen and (max-width: 700px) {
        grid-template-rows: repeat(8, minmax(12rem, 16rem));
        grid-template-columns: repeat(2, minmax(10rem, 18rem));
    }
}

.success {
    height: 25rem;
    width: 50rem;

    display: grid;
    grid-template-rows: 2fr 1fr;

    .hero {
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        align-self: center;
        position: relative;

        span {
            font-size: 3rem;
            position: absolute;
            right: 2rem;
        }
    }

    .play {
        justify-self: center;
        align-self: center;

        button {
            background-color: #000;
            color: #fff;
            font-family: "Nanum Pen Script", cursive;
            font-size: 2.5rem;
            border: 0;
            outline: 0;
            padding: 1.2rem 4.5rem;
            border-radius: 20px;
            box-shadow: 0px 10px 20px 0px #0000005e;
            border-bottom: 4px solid #000;
            cursor: pointer;
            transition: border-bottom .2s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.589);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.459);
                border-bottom: 0;
            }
        }
    }
}
