.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    user-select: none;
}

.content {
    display: grid;
    padding: 0 1rem;
}

.content-sm {
    grid-template-rows: repeat(2, minmax(10rem, 22rem));
    grid-template-columns: repeat(2, minmax(10rem, 22rem));
    grid-gap: 6rem;

    @media only screen and (max-width: 600px) {
        grid-template-rows: repeat(4, 20rem);
        grid-template-columns: 20rem;
        grid-gap: 2rem;
    }
}


.content-md {
    grid-template-rows: repeat(2, minmax(10rem, 20rem));
    grid-template-columns: repeat(4, minmax(10rem, 20rem));
    grid-gap: 4rem;

    @media only screen and (max-width: 950px) {
        grid-template-rows: repeat(4, minmax(12rem, 16rem));
        grid-template-columns: repeat(2, minmax(10rem, 18rem));
        grid-gap: 2rem;
    }
}

.content-lg {
    grid-template-rows: repeat(2, minmax(5rem, 14rem));
    grid-template-columns: repeat(8, minmax(5rem, 14rem));
    grid-gap: 2rem;

    @media only screen and (max-width: 1300px) {
        grid-template-rows: repeat(4, minmax(5rem, 15rem));
        grid-template-columns: repeat(4, minmax(5rem, 15rem));
    }
 
    @media only screen and (max-width: 700px) {
        grid-template-rows: repeat(8, minmax(12rem, 16rem));
        grid-template-columns: repeat(2, minmax(10rem, 18rem));
    }
}

@mixin centerBlock {
    height: 25rem;
    width: 50rem;
    display: grid;
}

.success {
    @include centerBlock;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
}

.intro {
    @include centerBlock();
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr;
}
